.top{
    height: 200px;
    width: 100%;
    display: inline-block;
    border:solid 5px;
    margin-bottom: 15px;
    margin-right: 5px;
}
.middle{
    height: 30vh;
}
.bottom{
    height: 30vh;
}
#purp{
    background: blueviolet;
    height: 110px;
    width: 35px;
    display: inline-block;
    margin: 10px;
    margin-top:25px;
}
#green{
    background: green;
    height: 150px;
    width: 300px;
    display: inline-block;
    margin: 10px;
    margin-top: 25px;
}
#blue{
    background: skyblue;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: inline-block;
    margin: 10px;
    margin-top: 25px;
}
.dots{
    border: dotted 4px;
    height: 150px;
}
#yellow{
    background:lemonchiffon;
    width: 95%;
    height: 80%;
    margin: auto;
    margin-top: 15px;
    box-shadow: 5px 5px  gray;
}
#box{
    border: solid 1px gainsboro;
    box-shadow: 2px 2px gainsboro;
    width: 400px;
    height: 200px;
    margin: auto;
}
#words {
    height: 100px;
    margin-top: 65px;
}
h1{
    color: darkblue;
    text-align: center;
    letter-spacing: 10px;
    height: 10px;
}